{% form_theme form '@CHCookieConsent/form/cookie_consent_theme.html.twig' %}

{% block script %}
    <script type="text/javascript" src="{{ asset('bundles/chcookieconsent/js/cookie_consent.js') }}"></script>
{% endblock %}

<div class="ch-cookie-consent ch-cookie-consent--{{ theme }}-theme ch-cookie-consent--{{ position }}">
    {% block title %}
        <h3 class="ch-cookie-consent__title">{{ 'ch_cookie_consent.title'|trans({}, 'CHCookieConsentBundle') }}</h3>
    {% endblock %}

    {% block intro %}
        <p class="ch-cookie-consent__intro">{{ 'ch_cookie_consent.intro'|trans({}, 'CHCookieConsentBundle') }}</p>
    {% endblock %}

    {% block read_more %}
        <a class="ch-cookie-consent__read-more" href="{% block read_more_link %}/privacy-statement{% endblock %}">{{ 'ch_cookie_consent.read_more'|trans({}, 'CHCookieConsentBundle') }}</a>
    {% endblock %}

    {{ form_start(form, {'attr': {'class': 'ch-cookie-consent__form'}}) }}
        {{ form_widget(form) }}

        {% block submit_button %}
            <button type="submit" class="btn ch-cookie-consent__btn">{{ 'ch_cookie_consent.save'|trans({}, 'CHCookieConsentBundle') }}</button>
        {% endblock %}
    {{ form_end(form) }}

</div>
